:root {
  --mainColor: #eef2ff;
  --secondaryColor: rgb(163, 207, 228);
  --mainText: rgb(0, 132, 255);
  --secondaryText: orange;
  --border: rgb(0, 0, 0);
  --themeDotBorder: #24292e;
  --previewBackground: rgb(251, 249, 243, 0.8);
  --previewShadow: #cddeff;
  --introBack: rgba(204, 178, 178, 0.3);
}
::-webkit-scrollbar {
  display: none;
}
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  user-select: none;
}
body * {
  transition: 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6 strong {
  color: var(--mainText);
  font-weight: 500;
  font-family: "Righteous", cursive;
}

p,
span,
li,
label,
input,
textarea {
  color: var(--mainText);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #17a2b8;
}
ul {
  list-style: none;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--border);
  overflow: auto;
}
.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--border);
  overflow: auto;
}
.s3 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--border);
  overflow: auto;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
}
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.greeting_panel {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}
.intro_wrapper {
  background: var(--introBack);
  backdrop-filter: saturate(180%) blur(10px);
  /* background-color: var(--secondaryColor); */
  border-radius: 5px 5px 0 0;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);

  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 3em 30em; */
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left_column right_column";
}

.backgroundText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 700px;

  position: absolute;
  color: var(--secondaryColor);
  opacity: 0.5;
  margin-left: -750px;
  object-fit: cover;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis; /* IE, Safari (WebKit) */
  overflow: hidden; /* don't show excess chars */
  white-space: nowrap;
}
.backgroundText:hover {
  filter: blur(20px);
  transition: 1s;
}
.nav_wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--border);
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border: 1px solid var(--border);
}

#navigation a {
  color: var(--mainText);
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: var(--mainText);
  font-size: 15px;
}
.browser_dot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;

  margin: 5px;
}

#navigation {
  margin: 0px;
  padding: 10px;
}

#socio-icon {
  color: var(--mainText);
  font-size: 30px;
  padding: 10px;
}
#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
#d1:hover {
  background-color: rgb(44, 41, 41, 0.4);
}
#d2:hover {
  background-color: rgb(44, 41, 41, 0.4);
}
#d3:hover {
  background-color: rgb(248, 31, 31);
}
.left_column {
  grid-area: left_column;
  padding: 50px 0 50px 0;
  z-index: +2;
}

#profilepic {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 350px;
  height: 400px;
  object-fit: cover;
  border: 2px solid var(--border);
  z-index: +10;
}
#theme-options-wrapper {
  display: flex;
  justify-content: center;
}
.theme-dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  margin: 5px;
  border: 2px solid var(--themeDotBorder);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.theme-dot:hover {
  border-width: 5px;
}
#light-mode {
  background-color: #ffff;
}
#blue-mode {
  background-color: rgb(0, 47, 255);
}
#green-mode {
  background-color: green;
}
#Dark-mode {
  background-color: rgb(27, 25, 27);
}
#setting-note {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  text-align: center;
}
.right_column {
  grid-area: right_column;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: +2;
}
#preview-Shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}
#preview {
  width: 300px;
  border: 1.5px dashed #17a2b8;
  background-color: var(--previewBackground);
  padding: 15px;
  position: relative;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  position: absolute;
}
#cor-tl {
  top: -5px;
  left: -5px;
}
#cor-tr {
  top: -5px;
  right: -5px;
}
#cor-br {
  bottom: -5px;
  right: -5px;
}
#cor-bl {
  bottom: -5px;
  left: -5px;
}
#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}
.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 50px 0 50px 0;
  gap: 100px;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}
.post {
  border: 1px solid var(--border);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
#work-image {
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 150px; */
}
.post-preview {
  background-color: #ffff;
  padding: 15px;
}
.post-title {
  color: black;
  margin: 0px;
}
.post-intro {
  color: #4b5156;
  font-size: 14px;
}
#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--border);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}
#contact-form label {
  line-height: 2.7em;
}
#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}
#sumbit-btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px 0px 10px 0px;
  color: black;
  background-color: white;
  border: none;
}
.input-field {
  width: 100%;
  padding: 10px 0px 10px 0px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--border);
  font-size: 14px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 30px 0 30px 0;
  gap: 100px;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
  /* #work-image {
    display: none;
  } */
}

@media screen and (max-width: 800px) {
  .intro_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left_column "
      "right_column";
  }
  .right_column {
    justify-content: center;
  }
  .socio-links {
    display: none;
  }
}

/* Animations */
